
header {
  background-color: darkred;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  
}

#logo {
  max-width: 400px;
  margin-top: 20px;
  border: solid black

}

#teamphoto {
  max-width: 600px;
  border: solid white;
  float: inline-start;
}

p {
  float: inline-end;
}


